# ===========================
# Backend — Java / Maven
# ===========================
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/*.iml
backend/src/main/resources/static/
*.class
*.jar
*.war
*.ear

# ===========================
# Frontend — Angular / Node
# ===========================
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/*.js.map

# ===========================
# IDE
# ===========================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# ===========================
# Umgebung
# ===========================
.env
.env.local
